:root {
    /* Colors */
    --cream: #f5f5f5;
    --black: #000000;
    --espresso: #4f3c2f;
    --mocha: #725640;
    --cappuccino: #a17659;
    --latte: #d9c2ab;

    /* Animation Durations */
    --animate-short: 200ms;
    --animate-medium: 300ms;
    --animate-long: 400ms;

    /* Font Sizes */
    --fs-regular: 1.6rem;
    --fs-medium: 1.8rem;
    --fs-large: 2.4rem;
    --fs-xlarge: 3.2rem;
    --fs-xxlarge: 4.8rem;

    /* Magins  */
    --m-small: 1rem;
    --m-regular: 3rem;
    --m-medium: 6rem;
    --m-large: 10rem;
}
